@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
:root {
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsla(221, 100%, 96%);
  --Light-lavender: hsla(241, 100%, 89%, 0.9);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk";
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--White);
}
body {
  display: grid;
  place-items: center;
}
p {
  font-size: 18px;
}
h4 {
  font-size: 18px;
  font-weight: 500;
}
h3 {
  font-size: 28px;
  font-weight: 700;
}

h1 {
  font-size: 55px;
  font-weight: 800;
}
.container {
  display: flex;
  border-radius: 24px;
  box-shadow: 0px 1.1px 1.6px rgba(0, 0, 0, 0.005),
    0px 2.4px 3.6px rgba(0, 0, 0, 0.01), 0px 4.2px 6.3px rgba(0, 0, 0, 0.013),
    0px 6.6px 10px rgba(0, 0, 0, 0.016), 0px 10.2px 15.5px rgba(0, 0, 0, 0.018),
    0px 16px 24.1px rgba(0, 0, 0, 0.02), 0px 26.5px 40px rgba(0, 0, 0, 0.022),
    0px 53px 80px rgba(0, 0, 0, 0.03);
}

.container_overall {
  padding: 42px 55px;
  max-width: 365px;
  border-radius: 24px;
  background: linear-gradient(hsl(243, 81%, 54%, 0.7), hsl(243, 81%, 54%, 1));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.container_overall > h3 {
  color: var(--Light-lavender);
}
.container_overall-score {
  background: linear-gradient(hsl(243, 67%, 46%), hsl(243, 81%, 54%, 0));
  width: 175px;
  height: 175px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container_overall-score h1 {
  color: var(--White);
  font-weight: 700;
}

.container_overall-score h4 {
  color: var(--Light-lavender);
  font-weight: 700;
}

.container-overall-content h3 {
  text-align: center;
  padding-bottom: 16px;
  color: var(--Pale-blue);
}
.container-overall-content p {
  text-align: center;
  color: var(--Light-lavender);
}

.container_summry {
  padding: 42px 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.container_summry h3 {
  text-align: left;
  padding-bottom: 6px;
  width: 100%;
  color: var(--Dark-gray-blue);
}
.container_summry-content {
  width: 100%;
  display: flex;
  gap: 16px;
  padding-bottom: 40px;
  flex-direction: column;
}
.container_summry-status {
  padding: 16px;
  width: 300px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Pale-blue);
  transition: 200ms;
  transform-style: background-color;
  cursor: pointer;
}
.container_summry-status:hover {
  background-color: var(--Light-lavender);
}
.container_summry-status_left {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.container_summry-status_left h5 {
  font-weight: 500;
}
.container_summry-status_right h4 {
  color: rgb(105, 102, 102);
  font-weight: 700;
}
.container_summry-status_right span {
  color: black;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--Dark-gray-blue);
  color: var(--Pale-blue);
  font-family: "Hanken Grotesk";
  font-weight: 500;
  font-size: 18px;
  width: 100%;
  border-radius: 32px;
  padding: 14px;
  transition: 300ms;
}
button:hover {
  background-color: hsl(243, 81%, 54%, 1);
}

@media only screen and (max-width: 720px) {
  .container {
    border-radius: 0px;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
  .container_summry {
    overflow: auto;
  }
  .container_overall {
    width: 100%;
    max-width: 100%;
    border-radius: 0px 0px 24px 24px;
    box-shadow: 0px 1.3px 1.2px rgba(0, 0, 0, 0.002),
      0px 2.8px 2.7px rgba(0, 0, 0, 0.003), 0px 4.7px 4.6px rgba(0, 0, 0, 0.005),
      0px 7.1px 6.9px rgba(0, 0, 0, 0.007), 0px 10.3px 10px rgba(0, 0, 0, 0.009),
      0px 14.5px 14.2px rgba(0, 0, 0, 0.01),
      0px 20.6px 20.1px rgba(0, 0, 0, 0.013),
      0px 29.9px 29.2px rgba(0, 0, 0, 0.015),
      0px 46.1px 45px rgba(0, 0, 0, 0.02), 0px 82px 80px rgba(0, 0, 0, 0.03);
  }
  .container_summry-status {
    width: 100%;
  }
}
